@import "tailwindcss";

.ff-opensans {
  font-family: var(--font-open-sans), sans-serif;
}

body,
* {
  font-family: var(--font-open-sans), sans-serif;
}

.gradeint-bg {
  background: linear-gradient(170.49deg, #8555b9 38.47%, #6b00af 100%);
}

.heading-h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2%;
  text-align: center;
  text-transform: capitalize;
}

.para-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}

.datepicker-custom {
  background: #6d429b;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
}

.datepicker-custom .react-date-picker__inputGroup__input,
.datepicker-custom .react-date-picker__inputGroup__divider,
.datepicker-custom .react-date-picker__inputGroup__leadingZero {
  color: #fff;
}

.datepicker-custom .react-date-picker__wrapper {
  border: none !important;
  outline: none !important;
  font-weight: 600;
}
.menu-grad {
  background: linear-gradient(
    188.56deg,
    rgba(241, 246, 251, 0.9) 0%,
    rgba(255, 255, 255, 0.73) 100%
  );
  box-shadow: 0px 0px 24px 0px #30154929;
  backdrop-filter: blur(6px);
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
}

.screen-card {
  background: #f1f6fbe5;
  box-shadow: 0px 0px 24px 0px #30154929;
  backdrop-filter: blur(6px);
}
